
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');
:root{
    --dark-primary: #191A19;
    --dark-secondary: #152D35;
    --green-secondary: #0A1931;
    --green-primary: #15b134;
    --text-light: #D8E9A8;
    --text-white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--dark-primary);
    font-family: 'Fira Sans', sans-serif;
}
.fa-fingerprint{
    margin: 0 15px;
    font-size: 2.5rem;
    color: var(--green-primary);

}
.title{
    margin: 20px 0px 15px 80px;
    padding: 20px 0;
    color: var(--text-white);
    text-align: center;
    background-color: var(--dark-secondary);
    border-radius: 20px 0 0 20px;
    font-size: 1.5rem;
}
.subtitle{
    text-align: start;
    color: var(--green-primary);
    margin: 15px 0;
    text-transform: uppercase;
}
.container{
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
}
.container-fluid{
    width: 40%;
}
.information{
    color: var(--text-white)
}
.tag{
    color: var(--text-light);
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
}
label{
    color: var(--text-light);
    padding: 0 15px;
    font-size: 0.8rem;
}
.btn{
    display: block;
    margin: 20px auto;
    width: 50%;
    min-width: 150px;
    padding: 7px 0;
    border: 1px solid var(--green-primary);
    border-radius: 15px;
    background-color: var(--green-primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    color: #fff;
}
.btn:hover{
    background-color: var(--green-secondary);
    cursor: pointer;
    border: 1px solid var(--text-white);
}
.btn-reset{
    width: 20%;
}
.fa-lock-open, .fa-lock{
    color: var(--text-white);
    margin-right: 15px;
    font-size: 1.2rem;
}
textarea{
    resize: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 1.05rem;
}
.form-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-control{
    outline: none;
    padding: 8px;
    border-radius: 10px;
    margin-right: 15px;
}
.footer{
    width: 100%;
    background-color: var(--dark-secondary);
    text-align: center;
    color: var(--text-white);
    padding: 20px 0;
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    font-size: 0.8rem;
}
.author{
    color: var(--green-primary);
    font-size: 1rem;
}

@media screen and (max-width: 945px){
    .title{
        font-size: 1.1rem;
    }
    .form-group{
        display: block;
    }
    .shift{ 
        text-align: center;
        width: 100%;
        font-size: 0.6rem;
    }
    .form-control, label{
        display: block;
        margin: 15px auto;
    }
    textarea{
        font-size: 0.8rem;
    }
    .footer{
        position: relative;
    }
    .form-control{
        width: 30%;
    }
}

@media screen and (max-width: 420px) {
    *{
        font-size: 0.7rem;
    }
    .btn{
        min-width: 90px;
    }
}